*{ padding:0;
      margin: 0;
      text-style: none;
      box-sizing: border-box;
    }
body{
   front-family:monserrat;
}
nav{
   backgroand: #0082e6;
   height: 80px;
   width:100%;
}
label.logo{
      color:white;
      front-size:35px;
      line-height:80px;
      padding: 0 100px'
}
nav ul{
      float:right;
      margin-right:20px;
}
nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
}
nav ul li a{
      color:white;
      front-size:17px;
      text-transform: uppercase:

      
      
