

h1{
    text-align:center;
    font-size:2.0em;
}


ul{ text-align:center; 
    border-top: 1px solid red;
     border-bottom:1px solid red;
      padding : 12px; } 
ul li{ display:inline; padding:12px;
         letter-spacing:12px }
ul li a{ text-decoration:none;
         font-size:1.1em;color:black;} 

      
 ul li a:hover{ text-decoration:underline;}
        

